name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        scala: [2.12.x, 2.13.x, 3.x]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: temurin
    - name: Mount caches
      uses: actions/cache@v3
      with:
        path: |
          ~/.sbt
          ~/.ivy2/cache
          ~/.cache/coursier
        key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
    - name: Compile and test
      shell: bash
      run: |
        set -e
        ./ci_setup.sh
        sbt ++${{matrix.scala}} test
        sbt scalafmtCheck Test/scalafmtCheck scalafmtSbtCheck

  # Single final job for mergify.
  ci-passed:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - run: ':'
